.App {
    margin: 1em;
}

.auth__form {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}